<% include partials/header %>

<header id="particles-js"></header>
<% include partials/navbar %>

<div class="h-screen bg-cover bg-center bg-no-repeat bg-fixed flex items-center"
	style="background-image: linear-gradient(to right, rgba(0, 0, 0,.8), rgba(0, 0, 0,.8)), url(../img/hero2.jpg);">

	<div class="container mx-auto flex flex-wrap">
		<div class="w-full md:w-1/2 lg:pt-40 lg:pr-16">
			
			<h1 class="heading-primary w-full">
					<div class="scrolling-text">
						Fail fast.<br />
						Fail often.<br />
						<span class="hidden md:inline-block">We are </span> STEM.<br />
					</div>
			</h1>
			<p class="text-white" style="transform: translateY(1rem)">
				We are a classroom that breaks down
				traditional silos between modern courses
				and engage in hands-on,
				project-based learning
				We are a classroom that breaks down
				traditional silos between modern courses
				and engage in hands-on,
				project-based learning
			</p>
			<div class="block relative text-white pt-16">
				<a href="/projects" class="btn btn-primary absolute z-50">
					View more projects
				</a>
			</div>

		</div>




		<div class="hidden relative object-scale-down md:block md:w-1/2">
			<img class="gear" src="img/gear.png" alt="">
			<!--Carousel Wrapper-->
			<div id="carousel" class="carousel slide carousel-fade absolute" data-ride="carousel">
				<!--Indicators
				<ol class="carousel-indicators">
					<li data-target="#carousel" data-slide-to="0" class="active"></li>
					<li data-target="#carousel" data-slide-to="1"></li>
					<li data-target="#carousel" data-slide-to="2"></li>
				</ol>
				<!--/.Indicators-->
				<!--Slides-->
				<div class="carousel-inner" role="listbox">
					<!--First slide-->
					<div class="carousel-item active">
						<img class="block w-full" src="img/trebuchet.png" alt="First slide">
					</div>
					<!--/First slide-->
					<!--Second slide-->
					<div class="carousel-item">
						<img class="block w-full" src="img/trebuchet.png" alt="Second slide">
					</div>
					<!--/Second slide-->
					<!--Third slide-->
					<div class="carousel-item">
						<img class="block w-full" src="img/trebuchet.png" alt="Third slide">
					</div>
					<!--/Third slide-->
				</div>
				<!--/.Slides-->
			</div>
			<!--/.Carousel Wrapper-->

		</div>
	</div>
</div>

<!-- Section Why -->

<section class="container mx-auto flex flex-wrap md:items-center lg:items-start py-24 md:py-40">
	<div class="text-center">
		<h4 class="heading-quaternary">
			What is STEM
		</h4>
		<h2 class="heading-secondary pb-16">
			One-of-a-kind project-based education at Templeton Secondary
			in Vancouver, BC.
		</h2>
	</div>
	<div class="w-full md:w-1/2 md:pr-16 lg:pt-40">
		<div class="block md:hidden">
			<img src="img/stem-1.jpg" alt="" class="composition-photo">
		</div>

		<h3 class="heading-tertiary">
			Projects
		</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aspernatur cupiditate nisi voluptatibus magnam
			fuga, beatae
			esse voluptate cum hic praesentium dicta dolore vel suscipit provident exercitationem ipsa quam tempora!
		</p>
		<div class="block md:hidden">
			<img src="img/stem-1.jpg" alt="" class="composition-photo">
		</div>

		<br>

		<h3 class="heading-tertiary">
			Team PBL
		</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aspernatur cupiditate nisi voluptatibus magnam
			fuga,
			beatae
			esse voluptate cum hic praesentium dicta dolore vel suscipit provident exercitationem ipsa quam tempora!
		</p>
		<div class="block md:hidden">
			<img src="img/stem-1.jpg" alt="" class="composition-photo">
		</div>

		<br>

		<h3 class="heading-tertiary">
			Cohort
		</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aspernatur cupiditate nisi voluptatibus magnam
			fuga,
			beatae
			esse voluptate cum hic praesentium dicta dolore vel suscipit provident exercitationem ipsa quam tempora!
		</p>

		<div class="block md:hidden">
			<img src="img/stem-1.jpg" alt="" class="composition-photo">
		</div>
	</div>
	<div class="hidden md:block md:w-1/2">
		<div class="composition flex flex-wrap">
			<img src="img/stem-1.jpg" alt="" class="composition-photo composition-photo-1 bg-red">
			<img src="img/stem-1.jpg" alt="" class="composition-photo composition-photo-2 bg-red">
			<img src="img/stem-1.jpg" alt="" class="composition-photo composition-photo-3 bg-red">
			<img src="img/stem-1.jpg" alt="" class="composition-photo composition-photo-4 bg-red">
		</div>
	</div>

	<div class="text-center w-full pt-16">
		<a href="/success" class="btn btn-primary">View our success stories</a>
	</div>

</section>

<!-- Section info -->

<section class="py-24 md:py-40" style="background-image: url(../img/bg-pattern.png)">
	<div class="container mx-auto flex flex-wrap">
		<div class="text-center w-full">
			<h4 class="heading-quaternary">
				Core competencies
			</h4>
			<h2 class="heading-secondary pb-16">
				STEM is based on British Columbia's <br>
				new inquiry-based curriculum.
			</h2>
		</div>

		<div class="w-full py-2 px-6 lg:w-1/3 lg:text-center">
			<div class="card py-8 px-8">
				<div class="card__icon-box mb-8">
					<img src="img/icon-1.png" alt="Thinking icon" class="card__icon">
				</div>
				<div class="heading-tertiary">
					Communication.
				</div>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam aut quasi tenetur ut pariatur
					obcaecati
					iusto
					architecto
					eveniet excepturi non adipisci unde, deserunt enim explicabo ad! Quaerat facilis autem modi tempora!
					Officia
					nostrum
					incidunt ea.
				</p>
			</div>
		</div>
		<div class="w-full py-2 px-6 lg:w-1/3 lg:text-center">
			<div class="card py-8 px-8">
				<div class="card__icon-box mb-8">
					<img src="img/icon-2.png" alt="Communication icon" class="card__icon">
				</div>
				<div class="heading-tertiary">
					Thinking.
				</div>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam aut quasi tenetur ut pariatur
					obcaecati
					iusto
					architecto
					eveniet excepturi non adipisci unde, deserunt enim explicabo ad! Quaerat facilis autem modi tempora!
					Officia
					nostrum
					incidunt ea.
				</p>
			</div>

		</div>
		<div class="w-full py-2 px-6 lg:w-1/3 lg:text-center">
			<div class="card py-8 px-8">
				<div class="card__icon-box mb-8">
					<img src="img/icon-3.png" alt="Thinking icon" class="card__icon">
				</div>
				<div class="heading-tertiary">
					Social.
				</div>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam aut quasi tenetur ut pariatur
					obcaecati
					iusto
					architecto
					eveniet excepturi non adipisci unde, deserunt enim explicabo ad! Quaerat facilis autem modi tempora!
					Officia
					nostrum
					incidunt ea.
				</p>
			</div>
		</div>
	</div>
</section>

<!-- Section what -->

<section class="container mx-auto flex flex-wrap py-24 md:py-40">
	<div class="w-full">
		<h4 class="heading-quaternary">
			How to apply
		</h4>
		<h2 class="heading-secondary pb-16">
			What you can expect.
		</h2>
	</div>
	<div class="w-full pb-16 md:pb-0 md:pr-16 md:w-1/2 md:h-200 lg:h-240">
		<img src="img/stem-1.jpg" alt="" class="composition-photo">
	</div>
	<div class="w-full md:w-1/2">
		<p>
			Being part of a project-based learning cohort is quite different from regular courses. Students who derive
			the
			greatest
			benefit from the STEM program are self-starters, show commitment, and work well in groups. Students wishing
			to
			enter the
			STEM program must be Templeton students. Registration information for joining the Templeton family can be
			found
			at the
			VSB website. Enrollment in Templeton STEM is limited and a separate application is required, using the form
			below.
		</p>

		<ul class="nav nav-tabs pt-16">
			<li class="active menus">
				<a class="active" data-toggle="tab" href="#menu1">Grade 8</a>
			</li>
			<li class="menus">
				<a data-toggle="tab" href="#menu2">Grade 9 - 12</a>
			</li>
		</ul>

		<div class="tab-content h-80 lg:h-64">
			<div id="menu1" class="tab-pane fade in active show">
				<p class="px-2 py-2">Students can apply to be in a STEM 8 cohort using the Templeton STEM application
					form. The deadline
					for
					application is
					the last day of school in December. In cases where there are more applicants than spaces, selections
					are
					made by
					lottery. Notification of acceptance is given in the last week of February.</p>

			</div>
			<div id="menu2" class="tab-pane fade">
				<p class="px-2 py-2">Where space permits, Templeton students may join the STEM program in any grade by
					contacting their
					grade
					level
					counsellor. In
					the situation where a cohort is over-subscribed, placements will be made by lottery to students who
					have a
					high degree
					of initiative, perseverance in the face of failure, and commitment to growth as a learner.</p>
			</div>
		</div>

		<div class="text-center w-full pt-24">
			<a href="/why" class="btn btn-primary">
				More about us!
			</a>
		</div>
	</div>
</section>

<% include partials/footer %>