<% include partials/header %>

<header style="background-image: url(../img/bg-pattern.png); height: 50vh">
    <div id="particles-js" style="height: 50vh"></div>
    <% include partials/navbar %>
    <h1 class="heading-primary abs-center">
        Success stories<span class="underscore">_</span>
    </h1>
</header>

<section class="container mx-auto flex flex-wrap pt-24 md:pt-40">
    <div class="text-center w-full">
        <h4 class="heading-quaternary">
            Core competencies
        </h4>
        <h2 class="heading-secondary pb-16">
            STEM is based on British Columbia's <br>
            new inquiry-based curriculum.
        </h2>
    </div>

    <div class="w-full py-6 md:w-1/3 md:px-6">
        <div class="success-card">
            <div class="side side--front">
                <div class="picture picture--1">&nbsp;</div>
            </div>
            <div class="side side--back side--back-1">
                <h3 class="heading-tertiary">
                    2018 Silver Medalist: Canada Wide Science Fair
                </h3>
                <p class="text">
                    Templeton STEM student Nick Murray’s Low Cost Point of Care Early Skin Cancer Detection project won silver on the
                    national stage.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full py-6 md:w-1/3 md:px-6">
        <div class="success-card">
            <div class="side side--front">
                <div class="picture picture--1">&nbsp;</div>
            </div>
            <div class="side side--back side--back-1">
                <h3 class="heading-tertiary">
                    2018 Silver Medalist: Canada Wide Science Fair
                </h3>
                <p class="text">
                    Templeton STEM student Nick Murray’s Low Cost Point of Care Early Skin Cancer Detection project won
                    silver on the
                    national stage.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full py-6 md:w-1/3 md:px-6">
        <div class="success-card">
            <div class="side side--front">
                <div class="picture picture--1">&nbsp;</div>
            </div>
            <div class="side side--back side--back-1">
                <h3 class="heading-tertiary">
                    2018 Silver Medalist: Canada Wide Science Fair
                </h3>
                <p class="text">
                    Templeton STEM student Nick Murray’s Low Cost Point of Care Early Skin Cancer Detection project won
                    silver on the
                    national stage.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Second row -->

<section class="container mx-auto flex flex-wrap pb-24 md:pb-40">
    <div class="w-full md:w-1/3 py-6 md:px-6">
        <div class="success-card">
            <div class="side side--front">
                <div class="picture picture--1">&nbsp;</div>
            </div>
            <div class="side side--back side--back-1">
                <h3 class="heading-tertiary">
                    2018 Silver Medalist: Canada Wide Science Fair
                </h3>
                <p class="text">
                    Templeton STEM student Nick Murray’s Low Cost Point of Care Early Skin Cancer Detection project won
                    silver on the
                    national stage.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/3 py-6 md:px-6">
        <div class="success-card">
            <div class="side side--front">
                <div class="picture picture--1">&nbsp;</div>
            </div>
            <div class="side side--back side--back-1">
                <h3 class="heading-tertiary">
                    2018 Silver Medalist: Canada Wide Science Fair
                </h3>
                <p class="text">
                    Templeton STEM student Nick Murray’s Low Cost Point of Care Early Skin Cancer Detection project won
                    silver on the
                    national stage.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/3 py-6 md:px-6">
        <div class="success-card">
            <div class="side side--front">
                <div class="picture picture--1">&nbsp;</div>
            </div>
            <div class="side side--back side--back-1">
                <h3 class="heading-tertiary">
                    2018 Silver Medalist: Canada Wide Science Fair
                </h3>
                <p class="text">
                    Templeton STEM student Nick Murray’s Low Cost Point of Care Early Skin Cancer Detection project won
                    silver on the
                    national stage.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mx-auto md:px-60" style="height:70vh">
        <a class="twitter-timeline" data-height="500" data-theme="light" data-link-color="#4046AF"
            href="https://twitter.com/TempletonSTEM?ref_src=twsrc%5Etfw">Tweets by TempletonSTEM</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</section>



<% include partials/footer %>